
/* Globales */
*::after,
*::before,
* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    margin: 0 auto;
    max-width: 100%;
    background-image: url(img/descarga.jpg);
}

img {
    max-width: 100%;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

nav .nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav .nav-list li {
    display: inline;
    font-size: 24px;
}

nav .nav-list a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

nav .nav-list a:hover {
    color: rgb(0, 72, 255);
}

.container-icon {
    position: relative;
}


/* Main */
.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.item {
    border-radius: 0.5rem;
}

.item:hover {
    box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.20);
}

.item img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.1);
}

.info-product {
    padding: 1rem 2rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btn-inicio a {
    color: #fff;
}

.container h1 {
    color: #000;
}

.btn-inicio:hover {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url(img/Stone.png);
}

.btn-inicio a:hover {
    color: #8cd987;
}

.btn-inicio {
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    width: 30%;
    background: url(img/Stone.png);
    color: white;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0);
}

.btn-mc {
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    background-image: url(img/Stone.png);
    color: white;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0);
}

.btn-mc a {
    text-decoration: none;
    color: #d02121;
}

.btn-mc a:hover {
    color: #8cd987;
}

.btn-mc:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.container h1 {
    color: #fff;
    text-shadow: 0.25rem 0.25rem 0.125rem rgba(0,0,0,0.8);
}

.container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 39%;
    background-image: url(img/Oak_planks.png);
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
}

.titulos {
    color: #3e8e41;
}

a {
    text-decoration: none;
}

.fondo {
    background-size: cover;
}

.nav-list li a {
    color: #fff;
}

#logo {
    max-width: 25rem;
    height: auto;
    margin-left: 50px;
    margin-top: 40px;

}

h2 {
    color: #fff;
}

.titulo {
    color: #fff;
    text-shadow: 0.25rem 0.25rem 0.125rem rgba(0,0,0,0.8);
}

.container-table {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    height: auto;
}

.gallery {
    position: relative;
    width: 60%;
    margin-top: 1rem;
}

.slides {
    display: flex;
    overflow: hidden;
}

.slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.container-table button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.info {
    width: 40%;
    padding: 1rem;
    height: 450px;
}

.info td a {
    color: #fff;
}

.info td a:hover {
    border-bottom: 0.125rem solid #0fc890;
}

table {
    width: 100%;
    color: #fff;
    margin-top: 3rem;
}

td {
    padding: 0.5rem;
    border-bottom: 0.063rem solid #ff0000;
}

.info table caption {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.btn-volver {
    width: 15%;
    height: 8%;
    font-size: 24px;
    margin-left: 75%;
    background-image: url(img/Stone.png);
    color: white;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0);
    padding: 1rem;

}

.btn-volver a {
    color: #fff;
}

.btn-volver a:hover {
    color: #8cd987;
}
.img-planes{
    height: 600px;
    min-width: 100%;
}
.btn-volver-corail{
    width: 15%;
    height: 8%;
    font-size: 24px;
    margin-left: 75%;
    background-image: url(img/Stone.png);
    color: white;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0);
    padding: 1rem;
    margin-top: 185px;
}
.btn-volver-corail a {
    color: #fff;
}
.btn-volver-corail a:hover {
    color: #8cd987;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff0d0d;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #14629e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000; 
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #007bff;
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
}

.form-group button {
    background-color: #114714;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto 0;
}
